html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

p {
    text-indent: 50px;
}

.navbar{
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    margin-bottom: 0px;
    height: 500px; 
}

.element {
    /*text-align: center;*/
    /*margin: auto;*/
    padding: 20px;
    /*font-size: 50px;*/
    color: #000000;
    min-height: 100%;
    position: relative;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.bottomright {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.topleft {
    position: absolute;
    top: 0px;
    left: 0px;
}

.lightgreen-block {
    padding: 20px;
    background-color: #DCEDE5; 
    color: #000000;
}

.lightgrey-block {
    padding: 20px;
    background-color: #F3F7FC; 
    color: #000000;
}

.lightpink-block {
    padding: 20px;
    background-color: #eddce4;
    color: #000000;
}

.img-thumbnail {
    position: relative;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(29, 106, 154, 0.72);*/
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.img-thumbnail:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.img-thumbnail:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}