html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

p {
    text-indent: 50px;
}

.navbar{
    border: none;
    border-radius: 0;
    background-color: rgba(0,0,0,0.5);
}

.jumbotron {
    margin-bottom: 0px;
    height: 500px; 
}

.element {
    /*text-align: center;*/
    /*margin: auto;*/
    padding: 20px;
    /*font-size: 50px;*/
    color: #000000;
    min-height: 100%;
    position: relative;
}

.cursive {
    font-family: 'Pacifico', cursive;
}

.bottomright {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.topleft {
    position: absolute;
    top: 0px;
    left: 0px;
}

.lightgreen-block {
    padding: 20px;
    background-color: #DCEDE5; 
    color: #000000;
}

.lightgrey-block {
    padding: 20px;
    background-color: #F3F7FC; 
    color: #000000;
}

.lightpink-block {
    padding: 20px;
    background-color: #eddce4;
    color: #000000;
}

.lightpurple-block {
    padding: 20px;
    background-color: #8487B4;
    color: #000000;
    border: 1px solid #000000;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*.img-thumbnail:hover {*/
  /*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  /*filter: gray; *//* IE6-9 */
  /*-webkit-filter: grayscale(100%);*/ /* Chrome 19+ & Safari 6+ */
/*}*/



/*------------------------------------------*/
/*https://miketricking.github.io/dist/*/

.hovereffect {
width:100%;
height:100%;
/*float:left;*/
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h3 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}


/*.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}*/

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h3{
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

a.contact {
text-decoration:none;
display:inline-block;
text-align: center;
text-transform:uppercase;
color:#000000;
border:1px solid #000000;
background-color:transparent;
/*opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;*/
margin:auto;
padding:7px 14px;
}

/***************************/
/*https://davidwalsh.name/css-flip*/
/* entire container, keeps perspective */
/*.flip-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 200px;
}*/
    /*  UPDATED! flip the pane when hovered */
/*    .flip-container:hover .back {
        transform: rotateY(0deg);
    }
    .flip-container:hover .front {
        transform: rotateY(180deg);
    }*/

/*.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}*/

/* flip speed goes here */
/*.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}*/

/* hide back of pane during swap */
/*.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}*/

/*  UPDATED! front pane, placed above back */
/*.front {
    z-index: 2;
    transform: rotateY(0deg);
}*/

/* back, initially hidden pane */
/*.back {
    transform: rotateY(-180deg);
}*/

/* 
    Some vertical flip updates 
*/
/*.vertical.flip-container {
    position: relative;
}

    .vertical .back {
        transform: rotateX(180deg);
    }

    .vertical.flip-container:hover .back {
        transform: rotateX(0deg);
    }

    .vertical.flip-container:hover .front {
        transform: rotateX(180deg);
    }*/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    height: 200px;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

/*.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}*/

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
